<div class="gestion-tables-container">
    <h1>Historial de Asignación</h1>
  
    <div class="top-actions">
      <mat-form-field appearance="outline">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Buscar en el historial">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      </div>
  
    <div class="table-container">
      <mat-table [dataSource]="dataSource()" class="mat-elevation-z8">
  
        <ng-container matColumnDef="codigo">
          <mat-header-cell *matHeaderCellDef> Código </mat-header-cell>
          <mat-cell *matCellDef="let asignacion"> {{asignacion.codigo}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="alumno">
          <mat-header-cell *matHeaderCellDef> Alumno </mat-header-cell>
          <mat-cell *matCellDef="let asignacion"> {{asignacion.alumno}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="grado">
          <mat-header-cell *matHeaderCellDef> Grado </mat-header-cell>
          <mat-cell *matCellDef="let asignacion"> {{asignacion.grado}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="tabletAsignada">
          <mat-header-cell *matHeaderCellDef> Tablet Asignada </mat-header-cell>
          <mat-cell *matCellDef="let asignacion"> {{asignacion.tabletAsignada}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="marca">
          <mat-header-cell *matHeaderCellDef> Marca </mat-header-cell>
          <mat-cell *matCellDef="let asignacion"> {{asignacion.marca}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="fechaAsignacion">
          <mat-header-cell *matHeaderCellDef> Fecha Asignación </mat-header-cell>
          <mat-cell *matCellDef="let asignacion"> {{asignacion.fechaAsignacion | date}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="fechaDevolucion">
          <mat-header-cell *matHeaderCellDef> Fecha Devolución </mat-header-cell>
          <mat-cell *matCellDef="let asignacion"> {{asignacion.fechaDevolucion | date}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="estadoAsignacion">
          <mat-header-cell *matHeaderCellDef> Estado Asignación </mat-header-cell>
          <mat-cell *matCellDef="let asignacion"> {{asignacion.estadoAsignacion}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="estadoDevolucion">
          <mat-header-cell *matHeaderCellDef> Estado Devolución </mat-header-cell>
          <mat-cell *matCellDef="let asignacion"> {{asignacion.estadoDevolucion}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="observaciones">
          <mat-header-cell *matHeaderCellDef> Observaciones </mat-header-cell>
          <mat-cell *matCellDef="let asignacion"> {{asignacion.observaciones}} </mat-cell>
        </ng-container>
  
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </div>